@page "/"
@using MudBlazor

<style>
    #is-home-active {
        color: #00e600 !important;
    }

    #is-account-active {
        color: #323232 !important;
    }
</style>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

