@using MudBlazor
@inherits LayoutComponentBase

<div class="page" style="background-color: white !important;">
    <NavMenu />

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider />
<MudDialogProvider 
    CloseButton="true"
    FullWidth="true"
    DisableBackdropClick="true"
    Position="DialogPosition.Center"
    CloseOnEscapeKey="true" />
<MudSnackbarProvider />
